.HeaderBar {
    border-bottom: solid 2px rgb(216, 203, 203);

    ul {
        display: flex;
        padding: 25px;
        li:first-child {
            margin: 0 auto;
            &:hover {
                transform: scale(1.2);
            }

            a {
                font-size: 25px;
                font-weight: 500;
                color: rgb(0, 0, 0);
                text-wrap: nowrap;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                    sans-serif;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        li:nth-child(2) {
            margin: 0 auto;
            &:hover {
                transform: scale(1.2);
            }

            a {
                font-size: 25px;
                font-weight: 500;
                color: rgb(0, 0, 0);
                text-wrap: nowrap;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                    sans-serif;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        li:nth-child(3) {
            margin: 0 auto;
            &:hover {
                transform: scale(1.2);
            }

            a {
                font-size: 25px;
                font-weight: 500;
                color: rgb(255, 255, 255);
                text-wrap: nowrap;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                    sans-serif;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        li:nth-child(4) {
            margin: 0 auto;
            &:hover {
                transform: scale(1.2);
            }

            a {
                font-size: 25px;
                font-weight: 500;
                color: rgb(255, 255, 255);
                text-wrap: nowrap;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                    sans-serif;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        li:last-child {
            margin: auto auto;
            select {
                padding: 5px;
                font-size: 16px;
                font-weight: 600;
                border: 1px solid #ccc;
                border-radius: 14px;
                option[value="ua"] {
                    font-weight: bold;
                    color: green;
                }
                option[value="en"] {
                    font-weight: bold;
                    color: blue;
                }
                option[value="cz"] {
                    font-weight: bold;
                    color: red;
                }
            }

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}
